.chatbox__wrapper {
  width: 400px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: scroll;
  background-image: linear-gradient(
    to right,
    rgb(78, 131, 65),
    rgb(164, 226, 156)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(21, 46, 28);
  margin: auto;
  margin-top: 50px;
}

.messages {
  list-style-type: none;
  padding: 0;
}

.use__input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
