.checkbox {
  padding: 20px;
  font-size: xx-large;
  font-style: oblique;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 4rem;

  &__item {
    width: 30px;
    cursor: pointer;
  }
}
