.header {
  background-color: $header-background;

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-right: 2rem;

    &__item {
      text-decoration: none;
      color: $black;
      font-size: 1.25rem;
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        transition: all 250ms ease;
        background-color: $black;
      }
    }
  }

  &__logo {
    width: 5rem;
    img {
      width: 60px;
    }
  }

  &__actions {
    align-items: center;
    display: none;

    @media (min-width: $media-md) {
      display: flex;
    }
  }

  &__hamburger {
    width: 1.5rem;
    display: block;

    @media (min-width: $media-md) {
      display: none;
    }
  }
}
