.header {
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;

  &__logo {
    width: 70px;
    height: 40px;
    img {
      display: block;
      width: 100%;
    }
  }
  &__nav {
    display: flex;
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    &__item {
      text-decoration: none;
      color: $black;
      font-size: 1.25rem;
      margin-right: 1rem;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        transition: all 250ms ease;
        background-color: $black;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    a {
      text-decoration: none;
      color: $black;
    }
  }
}
