.headline {
  display: flex;
  justify-content: space-between;

  &__icon {
    width: 50px;
  }

  &__text {
    display: flex;
    align-items: center;
  }

  &--2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__text2 {
    display: flex;
  }

  &--3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text3 {
    align-items: center;
  }
}

