@keyframes slide-down {
  from {
    transform: translate3d(0, -40rem, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.box {
  transition: all 250ms ease;
  width: 20rem;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  transform: translate3d(0, -40rem, 0);

  &--black {
    background-color: #34495e;
    animation: slide-down 1.5s ease forwards;
  }

  &--red {
    background-color: #e74c3c;
    animation: slide-down 1.5s ease forwards;
    animation-delay: 1s;
  }

  &--yellow {
    background-color: #e67e22;
    animation: slide-down 1.5s ease forwards;
    animation-delay: 2s;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 10rem;
  }
}
