.nav {
  padding: 2rem;
  text-decoration: none;

  &__list {
    text-decoration: none;
    list-style: none;
    
    
    &__item {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    padding: 1rem; 
    }   
}
}