.timeline {
  background-color: transparent;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 200px;
  padding: 20px;
  margin: 20px;

  &__box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    border: none;
    background-color: cadetblue;
    border-radius: 10px;
    padding: 20px;
    font-size: large;
    font-family: "Lucida Handwriting", cursive;
    cursor: pointer;
    animation: slide-down 1.5s ease forwards;

    &:hover {
      background-color: #8cb3d3;
      &::after {
        background-color: #536453;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }
  }

  &__container {
    width: 600px;
    background-color: cadetblue;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -40px -50px 0px 0px rgba(65, 80, 90, 0.1);
    animation: slide-down 1.5s ease forwards;

    &--item1 {
      font-size: 2rem;
      font-family: "Lucida Handwriting", cursive;
      margin: 20px;
    }

    &--item2 {
      font-family: georgia;
      margin: 20px;
      font-size: large;
      font-style: italic;
    }

    &--item3 {
      font-family: georgia;
      margin: 20px;
    }

    &--item4 {
      font-family: georgia;
      margin: 20px;
    }
  }
}

.naslov {
  font-size: 2rem;
  font-family: "Lucida Handwriting", cursive;
  display: flex;
  justify-content: center;
}

.line {
  border-top: 2px solid black;
  position: absolute;
  width: 90%;
  z-index: -1;
  animation: slide-down 1.5s ease forwards;
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
}
