.tags {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;

  &__tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 212, 213);
    margin: 0 auto;
    border: gray;
    border-radius: 20%;
    padding: 10px;
    cursor: pointer;
    transition: all 250ms ease;

    &:hover {
      background-color: rgb(143, 200, 207);
      color: black;
    }
  }

  &__tags__icon {
    width: 20px;
  }
}
