.table {
  border: solid black;
  border-radius: 10px;
  background-color: cadetblue;
  border-collapse: collapse;
  margin: auto o;
}

tr,
th,
td {
  border-collapse: collapse;
  border: solid black;
  background-color: blanchedalmond;
}
