$black: #000;
$header-background: rgb(112, 149, 182);

//breakpoints
//https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
$media-sm: 37.5em; //600px
$media-md: 48em; //768px
$media-lg: 62em; //992px
$media-xl: 75em; //1200px
